---
import Header from "@/components/Header.astro"
import "@/styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="百宝箱" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#FAFAFA"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#18181B"
    />
    <meta
      name="description"
      content="一款简洁高效的在线开发者工具箱｜JSON 在线解析及格式化验证，Crontab 执行时间计算，Base64 / URL 编解码。"
    />
    <title>百宝箱 - 在线开发者工具箱</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
