---
import Title from "@/components/Title.astro"
import TCrontab from "@/components/tsx/TCrontab"
import Layout from "@/layouts/Layout.astro"
import { getTool } from "@/lib/tools"

const tool = getTool("/crontab")
---

<Layout tool={tool}>
  <div class="container max-w-3xl">
    {tool && <Title tool={tool} />}
    <TCrontab client:load />
  </div>
</Layout>
