---
import Title from "@/components/Title.astro"
import TJson from "@/components/tsx/TJson"
import Layout from "@/layouts/Layout.astro"
import { getTool } from "@/lib/tools"

const tool = getTool("/json")
---

<Layout tool={tool} wide={true}>
  <div class="container max-w-7xl sm:max-h-full">
    {tool && <Title tool={tool} />}
    <TJson client:load />
  </div>
</Layout>
