---
import Title from "@/components/Title.astro"
import EncodeURL from "@/components/tsx/EncodeURL"
import Layout from "@/layouts/Layout.astro"
import { getTool } from "@/lib/tools"

const tool = getTool("/url")
---

<Layout tool={tool}>
  <div class="container max-w-3xl">
    {tool && <Title tool={tool} />}
    <EncodeURL client:load />
  </div>
</Layout>
