---
import { DraftingCompass } from "lucide-react"
---

<div class="bg-sidebar border-b py-4 shadow-xs">
  <div
    class="mx-auto flex max-w-3xl items-center justify-center px-4 sm:justify-start"
  >
    <a href="/" class="flex items-center gap-1 font-semibold">
      <DraftingCompass />
      <span>百宝箱</span>
      <sup>OL</sup>
    </a>
  </div>
</div>
