---
import ThemeIcon from "@/components/ThemeIcon.astro"
import Navigating from "@/components/tsx/Navigating"
import { Button } from "@/components/ui/button"
import { VERSION } from "@/lib/constants"
import clsx from "clsx"
import { Github, ToolCase } from "lucide-react"

interface Props {
  wide: boolean
}

const { wide } = Astro.props
---

<div class="bg-sidebar relative border-b py-3 shadow-xs">
  <div
    class={clsx(
      "mx-auto flex w-5/6 items-center px-2",
      wide ? "max-w-7xl" : "max-w-3xl"
    )}
    transition:name="header"
  >
    <a href="/" class="flex items-center gap-1 font-medium">
      <ToolCase size={22} />
      <span>开发者工具箱</span>
      <sup>OL</sup>
    </a>
    <div class="flex-1"></div>
    <ThemeIcon />
    <Button
      id="github"
      variant="ghost"
      className="gap-1 underline underline-offset-4 has-[>svg]:px-2"
    >
      <Github />
      {VERSION}
    </Button>
  </div>
  <Navigating client:load />
</div>

<script>
  import { GITHUB_URL } from "@/lib/constants"
  document.addEventListener("astro:page-load", () =>
    document
      .getElementById("github")
      ?.addEventListener("click", () => open(GITHUB_URL))
  )
</script>
