---
import { Button } from "@/components/ui/button"
import { MoonStar, Sun } from "lucide-react"
---

<Button id="themeToggle" variant="ghost" size="icon">
  <MoonStar className="dark:hidden" />
  <Sun className="hidden dark:block" />
</Button>

<script>
  import { $theme } from "@/lib/store/store"

  document.addEventListener("astro:page-load", () =>
    document.getElementById("themeToggle")?.addEventListener("click", () => {
      document.documentElement.classList.toggle("dark")
      const isDark = document.documentElement.classList.contains("dark")
      $theme.set(isDark ? "dark" : "light")
    })
  )
</script>
